.git
    .gitignore
    .env
backend /.env
backend /.env.*
    backend / vendor
backend / node_modules
backend / storage/*
!backend/storage/app
!backend/storage/app/public
backend/database/database.sqlite
node_modules
frontend
*.log
firebase-debug.log